<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Time</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="main-block">
        <div class="secondaryblock">
            <h2> The Current Time is : </h2>
        </div>
        <div class="secondaryblock2">
            <h1>{{time}} </h2>
        </div>
    </div>
</body>

</html>